.generation{
    background-color: #f7f7f7;
    padding: 120px 0;

    @media(max-width: 900px) {
        padding: 80px 0;
    }

    @media(max-width: 600px) {
        padding: 30px 0;
    }
}

.block{
    text-align: center;
    &__icon{
        margin: 0 0 33px 0;
    }

    &__title{
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
        color: #353738;
        text-transform: uppercase;
        letter-spacing: 3.6px;
        margin: 0 0 20px 0;
    }

    &__text {
        font-size: 18px;
        line-height: 34px;
        color: #848789;
        // text-align: justify;
        &_j{
            text-align: justify;
            font-size: 16px;
            line-height: 30px;

            &:after {
                content: '';
                display: block;
                margin: 35px auto 0 auto;
                width: 50px;
                height: 2px;
                background-color: #ebebeb;
            }
        }
    }
}